<div class="container mt-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-8">
            <div class="d-flex flex-column comment-section">
                {%for comment in comments%}
                <div class="bg-white p-2">
                    <div class="d-flex flex-row user-info"><img class="rounded-circle" src="../static/post_images/avatar.png" width="40">                  
                        <div class="d-flex flex-column justify-content-start ml-2">
                            <span class="d-block font-weight-bold name">{{comment.comment_user}}</span>
                            <span class="date text-black-50">{{comment.comment_date}}</span>  
                        </div>
                    </div>               
                    <div class="mt-2">
                        <p class="comment-text">{{comment.comment}}</p>
                    </div>
                    <a href="{{ url_for('delete_comment',post_title = postItem.post_title,post_id=postItem.post_id,id=comment.comment_id) }}" style="text-decoration: none; list-style-type: none;"> <li><i class="fa-solid fa-trash"></i>delete</li></a>  
                </div>
                {%endfor%}
				<form action="{{ url_for('postItem',post_title = postItem.post_title) }}?post_id={{ postItem.post_id }}" method="post" class="form-container" enctype="multipart/form-data">
					<div class="bg-light p-2">
						<div class="d-flex flex-row align-items-start">
							
							<textarea name = 'comment' id='comment' placeholder='write a comment....' class="form-control ml-1 shadow-none textarea"></textarea>
						</div>
						<div class="mt-2 text-right">
							<button class="btn btn-primary btn-sm shadow-none" type="submit">Post comment</button>
							<button class="btn btn-outline-primary btn-sm ml-1 shadow-none" type="button">Cancel</button>
						</div>
					</div>
				</form>
            </div>
        </div>
    </div>
</div>